extends ../layouts/main.jade

block title
  title resume - jona

block styles
  link(rel='stylesheet' href='/css/resume/main.css')

block content
  .wrapper
    header.page-header
      img(src='http://i.imgur.com/WJwz07G.jpg' alt='me').avatar
      
      h1.header-name= me.name
      .title-bar
        h2.header-title= me.title
        
        ul.icon-links
          include ../layouts/partials/icon-github.jade
          include ../layouts/partials/icon-website.jade
      
      .executive-summary
        p= me.summary
        
      a(href='mailto:#{me.email}').contact-button Contact me
    
    section.content-section
      header.section-header
        h2 Experience
      
      each v in me.experiences
        .resume-item
          if v.link
            h3.resume-item-title #[a(href='#{v.link}')= v.title]
          else
            h3.resume-item-title!= v.title
          h4.resume-item-details!= v.position
          p.resume-item-copy!= v.description
    
    section.content-section
      header.section-header
        h2 Education
      
      each v in me.education
        .resume-item
          h3.resume-item-title!= v.title
          h4.resume-item-details!= v.subject
          p.resume-item-copy!= v.description
    
    section.content-section
      header.section-header
        h2 Projects
        
      each v in me.projects
        .resume-item
          if v.link
            h3.resume-item-title #[a(href='#{v.link}')= v.title]
          else
            h3.resume-item-title!= v.title
          h4.resume-item-details!= v.position
          p.resume-item-copy!= v.description
    
    section.content-section
      header.section-header
        h2 Skills
      
      each v in me.skills
        .resume-item
          h3.resume-item-detail= v.title
          p.resume-item-copy= v.description
    
    section.content-section
      header.section-header
        h2 Associations
      
      each v in me.associations
        .resume-item
          if v.link
            h3.resume-item-title #[a(href='#{v.link}')= v.title]
          else
            h3.resume-item-title!= v.title
          h4.resume-item-details!= v.position
          p.resume-item-copy!= v.description
    
    footer.page-footer
      p.footer-line Adapted from the original template made by #[a(href='http://twitter.com/jglovier') Joel Glovier]
