extends main.jade

block title
  title #{title} - jona

block styles
  link(rel='stylesheet' href='https://brick.a.ssl.fastly.net/Charter:400')
  link(rel='stylesheet' href='/css/main.css')
  link(rel='stylesheet' href='/css/prism.css')

block scripts
  script(src='/js/prism.min.js')

block content
  .text.-large= title
  .text.-grey._lessmargin #{sdate} by #{author}
  hr
  .text.-medium
    p.content!= contents
  
  .whitespace.-small
  .text.-medium
    a(href='/blog') back to the blog index
  .whitespace.-small
